<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DC208</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>

<section id="page">
<div class="homeIcon">
    <a href="/index">
        <img id="homeIcon" src="static/logo175X175.png" alt="DC208 icon">
    </a>
</div>
<header>
    <div class="titles">
        <h1 id="introTitle">Welcome to DC208!</h1>
        <h2 id="introSubTitle">The home of the Idaho Hackerspace Network</h2>
    </div>
</header>
<nav class="navContainer">
    <div class="navLinks"><a href="/index">Home</a></div>
    <div class="navLinks"><a href="/Projects">Projects</a></div>
    <div class="navLinks"><a href="/Members">Members</a></div>
    <div class="navLinks"><a href="/Spaces">Spaces</a></div>
</nav>


{% block content %}{% endblock %}

</section>

</html>
{% extends "footer.html" %}
