{%  extends "base.html" %}

{% block content %}
<main>
    <section>
        <div>
            <h1>What is the DC208 network?</h1>
            <p>DC208 started as an offshoot of the defcon groups project.  The goal was to create
            a banner under which local groups could collect and celebrate the hacker traditions.</p>
            <p>In case it wasn't obvious, 208 is the area code for the state of Idaho (Until 2016,
                when we ended up with 2 area codes!)  Idaho is quite large though, so one banner
            is insufficient to capture all that is going on here.  This site is built to be a resource
            for Hackers, Makers, Crafters, InfoSec, and the curious within and around Idaho.</p>
            <h3>WE HAVE ROOM FOR YOU!</h3>
            <p>Let us know if you fit in our network and we will see if we can find a place on
            our site to help people find you.</p>
        </div>
    </section>
</main>

{% endblock %}