{% extends 'base.html' %}

{% block content %}
<main>
    <h3>We have a slack!</h3>
    <p>Admins:</p>
    <article>
        <figure class="fig_a">
            <h3>Fallible</h3>
            <a href="https://twitter.com/snewbill">
            <picture>
                <source src="/static/headshots/fallible400X400.jpg">
                <img srcset="/static/headshots/fallible400X400.jpg" alt="Fallible Headshot">
            </picture></a>
                <!--<a href="mailto:snewbill@gmail.com?Subject=Please%20Invite%20Me%20To%20Slack"
                    target="__top">Email Me!</a>-->
        </figure>
        <figure class="fig_b">
            <h3>BadgerOps</h3>
            <a href="https://twitter.com/badgerops">
            <picture>
                <source src="/static/headshots/BadgerOps400x400.jpg">
                <img srcset="/static/headshots/BadgerOps400x400.jpg" alt="BadgerOps picture">
            </picture></a>
        </figure>
        <figure class="fig_c">
            <h3>Wh33lhouse</h3>
            <a href="https://twitter.com/wh33lhouse">
            <picture>
                <source src="/static/headshots/wh33lhouse400x400.jpg">
                <img srcset="/static/headshots/wh33lhouse400x400.jpg" alt="Wh33lhouse picture">
            </picture></a>
        </figure>
    </article>
    <h3>We also use Keybase! Channels dc208 and 208labs!</h3>
    <p>Come join us!</p>

</main>

{% endblock %}