{% extends 'base.html' %}

{% block content %}
<main>
<h1>Boise Area Spaces</h1>
    <article>

        <figure class="fig_a">
            <h3>Open Lab Idaho</h3>
            <a href="http://www.openlabidaho.org/">
            <picture class="box a">
                <source srcset="http://www.openlabidaho.org/addons/shared_addons/themes/openlab/img/logo_white.png" media="(max-width: 100%)">
                <img srcset="http://www.openlabidaho.org/addons/shared_addons/themes/openlab/img/logo_white.png" alt="OpenLab Logo White">
            </picture>
            </a>
        </figure>
        <figure class="fig_b">
            <h3>Creative Technologies Association</h3>
            <a href="http://boisestate.orgsync.com/show_profile/114146-creative-technologies-association">
            <picture class="box b">
                <source srcset="http://profile-pics.orgsync.com/1u8hdepvtmsn1im_150.jpg" media="(max-width: 100%)">
                <img srcset="http://profile-pics.orgsync.com/1u8hdepvtmsn1im_150.jpg" alt="CTA logo">
            </picture>
            </a>
        </figure>
        <figure class="fig_c">
            <h3>Up Makerspace</h3>
            <a href="https://www.upmakerspace.com/">
            <picture class="box c">
                <source srcset="https://www.upmakerspace.com/sites/default/files/UPMakerspaceFinalLogo_transparency_0_0.png" media="(max-width: 10%)">
                <img srcset="https://www.upmakerspace.com/sites/default/files/UPMakerspaceFinalLogo_transparency_0_0.png" alt="Up Makerspace Logo">
            </picture>
            </a>
        </figure>

    </article>
</main>

{% endblock %}